.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
    border: 1px solid red;
}


.cardSection{
    
    display:  flex ;
    align-items: center;
    justify-content: center;
    border : 1px solid red;
    
}
.sliderContainer{
    height: 500px;
    border : 1px solid red;
   
}